.toov-weapon-list table {
  font-size: 0.85rem;
}
.toov-weapon-list table td,
.toov-weapon-list table th {
  padding: 2px 5px;
}
.toov-weapon-list table tr {
  cursor: pointer;
}
.toov-weapon-list table th {
  text-align: center;
  font-size: 0.75rem;
}
.toov-weapon-list table td {
  text-align: center;
  white-space: nowrap;
}
.toov-weapon-list table th:first-child,
.toov-weapon-list table td:first-child {
  text-align: left;
}
.toov-weapon-list table th:nth-child(1) {
  width: auto;
}
.toov-weapon-list table th:nth-child(2) {
  width: 10%;
}
.toov-weapon-list table th:nth-child(3) {
  width: 10%;
}
.toov-weapon-list table th:nth-child(4) {
  width: 10%;
}
.toov-weapon-list table th:nth-child(5) {
  width: 10%;
}
@media only screen and (min-width: 480px) {
  .toov-weapon-list table {
    font-size: 1rem;
  }
  .toov-weapon-list table th {
    font-size: 1rem;
  }
}
html {
  background-color: #333;
  font-size: 15px;
  line-height: 1.4;
}
body {
  min-height: 100vh;
  margin: 0;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
.toov-main-container {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
