@font-face {
  font-family: 'roslindale-regular';
  src: url('../fonts/roslindale-regular.eot');
  src: local('☺'), url('../fonts/roslindale-regular.woff') format('woff'), url('../fonts/roslindale-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roslindale-condensed';
  src: url('../fonts/roslindale-condensed.eot');
  src: local('☺'), url('../fonts/roslindale-condensed.woff') format('woff'), url('../fonts/roslindale-condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: roslindale-regular, serif;
  background-color: #333;
  color: #333;
  font-size: 15px;
  line-height: 1.4;
}
body {
  min-height: 100vh;
  margin: 0;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}
.ov-main-container {
  background: url('../img/background.png');
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roslindale-regular, serif;
  margin: 0;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
.condensed {
  font-family: roslindale-condensed, serif;
}
.neg {
  color: #da3e3e;
}
.red {
  color: #da3e3e;
}
.green {
  color: #31c631;
}
.blue {
  color: #0e6dcd;
}
#loading {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 0;
}
#loading .frame {
  width: 80%;
  max-width: 300px;
  border: 1px solid #fff;
}
#loading .frame span {
  background: darkorange;
  display: block;
  width: 0;
  height: 10px;
}
#infoModal {
  padding-top: 0;
  padding-bottom: 0;
}
#infoModal .info-card {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100% !important;
  max-width: 400px !important;
  padding: 15px;
  transform: translate(-50%, -50%);
}
#infoModal .info-card .content {
  background-color: #e8e3de;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
#infoModal .info-card .content .uk-modal-close-default {
  background: linear-gradient(to bottom right, #555, #666), #555;
  color: #da3e3e;
  top: 25px;
  right: 25px;
  padding: 6px 5px 4px;
  border-radius: 50%;
  box-shadow: 0 2px 2px #333, inset 0 1px 1px #999;
}
#infoModal .info-card .content .uk-modal-close-default:hover {
  color: #de5454;
  background: #555;
}
#infoModal .info-card .content .uk-modal-close-default svg line {
  stroke-width: 2;
}
#infoModal.uni .info-card .content {
  border-color: #ffa500;
  box-shadow: 0 0 8px #ffa500;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.page-weapons .ov-weapon-list table {
  position: relative;
  width: 100%;
  font-size: 0.85rem;
  table-layout: fixed;
  border-collapse: separate;
  border-radius: 5px;
}
.page-weapons .ov-weapon-list table#weaponList {
  margin-top: 0;
}
.page-weapons .ov-weapon-list table tr.divide-header th {
  padding-top: 0;
  padding-bottom: 0;
}
.page-weapons .ov-weapon-list table tr.separator td {
  background-color: rgba(95, 88, 84, 0.6);
  color: #eee;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  border-radius: 500px;
  text-shadow: 0 0 5px #000;
}
.page-weapons .ov-weapon-list table tr:not(.separator) {
  cursor: pointer;
}
.page-weapons .ov-weapon-list table tr:not(.separator):hover td {
  background-color: rgba(255, 255, 255, 0.4);
}
.page-weapons .ov-weapon-list table.sticky {
  margin-bottom: 0;
  background-color: #5f5854;
}
.page-weapons .ov-weapon-list table.sticky tr {
  cursor: default;
  border: 1px solid #888;
  border-radius: 5px;
}
.page-weapons .ov-weapon-list table.sticky tr th {
  color: #eee;
  text-transform: none;
  padding-top: 4px;
  padding-bottom: 4px;
  text-shadow: 0 0 5px #000;
}
.page-weapons .ov-weapon-list table td,
.page-weapons .ov-weapon-list table th {
  padding: 1px 5px;
  text-align: center;
  white-space: nowrap;
}
.page-weapons .ov-weapon-list table th:first-child,
.page-weapons .ov-weapon-list table td:first-child {
  width: 14px;
  text-align: left;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}
.page-weapons .ov-weapon-list table td:first-child {
  width: 24px;
  padding: 0;
}
.page-weapons .ov-weapon-list table td:first-child img {
  border: 1px solid #888;
  border-radius: 50%;
}
.page-weapons .ov-weapon-list table td:first-child img.uni {
  border-color: #ffa500;
  box-shadow: 0 0 2px #ffa500;
}
.page-weapons .ov-weapon-list table th:nth-child(2),
.page-weapons .ov-weapon-list table td:nth-child(2) {
  width: auto;
  text-align: left;
}
.page-weapons .ov-weapon-list table th:nth-child(3),
.page-weapons .ov-weapon-list table td:nth-child(3) {
  width: 40px;
}
.page-weapons .ov-weapon-list table th:nth-child(4),
.page-weapons .ov-weapon-list table td:nth-child(4) {
  width: 30px;
}
.page-weapons .ov-weapon-list table th:nth-child(5),
.page-weapons .ov-weapon-list table td:nth-child(5) {
  width: 25px;
}
.page-weapons .ov-weapon-list table th:nth-child(6),
.page-weapons .ov-weapon-list table td:nth-child(6) {
  width: 25px;
}
.page-weapons .ov-weapon-list table th:nth-child(7),
.page-weapons .ov-weapon-list table td:nth-child(7) {
  width: 30px;
}
.page-weapons .ov-weapon-list table th:nth-child(8),
.page-weapons .ov-weapon-list table td:nth-child(8) {
  width: 14px;
}
.page-weapons .ov-weapon-list table td:nth-child(8) {
  width: 24px;
  padding: 0;
}
.page-weapons .ov-weapon-list table th:nth-child(9),
.page-weapons .ov-weapon-list table td:nth-child(9) {
  width: 20px;
}
.page-weapons .ov-weapon-list table th:nth-child(10),
.page-weapons .ov-weapon-list table td:nth-child(10) {
  width: 25px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}
.page-weapons .ov-weapon-list table th {
  font-size: 0.75rem;
}
@media only screen and (min-width: 480px) {
  .page-weapons .ov-weapon-list table {
    font-size: 1rem;
  }
  .page-weapons .ov-weapon-list table th {
    font-size: 1rem;
  }
}
.page-weapons #infoModal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-weapons #infoModal .title {
  margin-top: 10px;
}
.page-weapons #infoModal .title .level {
  font-size: 1rem;
  font-weight: bold;
  line-height: 2;
  margin-top: 5px;
}
.page-weapons #infoModal .title h2 {
  font-size: 1.5rem;
}
.page-weapons #infoModal .title h5 {
  font-style: italic;
}
.page-weapons #infoModal .title h5 span {
  background-color: rgba(95, 88, 84, 0.6);
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(95, 88, 84, 0.6);
}
.page-weapons #infoModal .title h5 span img {
  max-width: 1.4rem;
  height: auto;
}
.page-weapons #infoModal .stats-top {
  margin-top: 20px;
}
.page-weapons #infoModal .stats-top .basic span {
  display: inline-block;
  min-width: 75px;
}
.page-weapons #infoModal .stats-top .basic b {
  display: inline-block;
  min-width: 50px;
}
.page-weapons #infoModal .stats-top .damage {
  margin-top: 15px;
}
.page-weapons #infoModal .stats-top .damage img {
  width: 40px;
}
.page-weapons #infoModal .stats-top .damage b {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-size: 1.125rem;
}
.page-weapons #infoModal .stats-top .damage .damage-race.undead {
  position: relative;
}
.page-weapons #infoModal .stats-top .damage .damage-race.undead:after {
  content: '\1F480';
  background-color: #fff;
  color: transparent;
  text-shadow: 0 0 0 #da3e3e;
  font-size: 0.875rem;
  position: absolute;
  text-align: center;
  right: 28px;
  top: -10px;
  width: 18px;
  height: 18px;
  border: 1px solid #888;
  border-radius: 25%;
}
.page-weapons #infoModal .stats-top .on-hit {
  margin-top: 10px;
}
.page-weapons #infoModal .stats-top .on-hit span {
  display: inline-block;
  min-width: 70px;
}
.page-weapons #infoModal .stats-bottom span {
  display: inline-block;
  min-width: 60px;
}
.page-weapons #infoModal .stats-bottom b {
  display: inline-block;
  min-width: 35px;
}
.page-weapons #infoModal .stats-bottom .obsatk {
  font-size: 0.75rem;
}
.page-weapons #infoModal .stats-bottom .obsatk span {
  margin-right: 10px;
}
.page-weapons #infoModal .stats-extra {
  margin-top: 15px;
}
.page-weapons #infoModal .stats-extra span {
  display: inline-block;
  min-width: 120px;
}
.page-weapons #infoModal .notes span {
  display: inline-block;
  min-width: 80px;
}
.page-weapons #infoModal .class {
  margin-top: 10px;
}
.page-weapons #infoModal .class .uk-accordion > li .uk-accordion-title {
  background-color: #5f5854;
  color: #eee;
  font-size: 1rem;
  padding: 0 10px;
  text-shadow: 0 0 5px #000;
  border: 1px solid #888;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.page-weapons #infoModal .class .uk-accordion > li .uk-accordion-title:before {
  content: '[show]';
  font-size: 0.875rem;
  text-align: right;
  width: 50px;
}
.page-weapons #infoModal .class .uk-accordion > li .uk-accordion-title:hover {
  color: #31c631;
}
.page-weapons #infoModal .class .uk-accordion > li .uk-accordion-content {
  margin-top: 5px;
}
.page-weapons #infoModal .class .uk-accordion > li .uk-accordion-content li {
  display: inline-block;
  float: left;
  font-size: 0.75rem;
  width: calc(50% - 20px);
  padding: 0 10px;
}
.page-weapons #infoModal .class .uk-accordion > li.uk-open .uk-accordion-title:before {
  content: '[hide]';
}
.page-weapons #infoModal hr {
  overflow: visible;
  text-align: inherit;
  margin: 10px 0;
  border: 0;
  border-top: 2px solid #ccc;
}
