@font-face {
  font-family: 'roslindale-regular';
  src: url('../fonts/roslindale-regular.eot');
  src: local('☺'), url('../fonts/roslindale-regular.woff') format('woff'), url('../fonts/roslindale-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roslindale-condensed';
  src: url('../fonts/roslindale-condensed.eot');
  src: local('☺'), url('../fonts/roslindale-condensed.woff') format('woff'), url('../fonts/roslindale-condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: roslindale-regular, serif;
  background-color: #333;
  color: #333;
  font-size: 15px;
  line-height: 1.4;
}
body {
  min-height: 100vh;
  margin: 0;
  animation: fadeIn ease 1s;
}
.ov-main-container {
  background: url('../img/background.png');
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roslindale-regular, serif;
  margin: 0;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
  color: #0f6ecd;
  text-decoration: none;
}
.condensed {
  font-family: roslindale-condensed, serif;
}
.neg {
  color: #da3e3e;
}
.red {
  color: #da3e3e;
}
.green {
  color: #31c631;
}
.blue {
  color: #0e6dcd;
}
.orange {
  color: #ffa500;
}
button {
  background: transparent;
  border: none;
}
.ov-button-pad {
  background: linear-gradient(to bottom right, #555, #666), #555;
  color: #da3e3e;
  top: 10px;
  right: 10px;
  padding: 6px 5px 4px;
  border-radius: 50%;
  box-shadow: 0 2px 2px #333, inset 0 1px 1px #999;
}
.ov-button-pad:hover {
  color: #de5454;
  background: #555;
}
.ov-button-pad svg line {
  stroke-width: 2;
}
.fade-from-right {
  animation: fadeFromRight 250ms ease-in;
}
.fade-to-right {
  animation: fadeToRight 250ms ease-out;
}
.fade-in {
  opacity: 1;
  transition: opacity 150ms ease-in;
}
.fade-out {
  opacity: 0;
  transition: opacity 150ms ease-out;
}
.scale-zero-to-normal {
  animation: scaleZeroToNormal 100ms ease-in;
  transform-origin: top;
}
.scale-normal-to-zero {
  animation: scaleNormalToZero 100ms ease-out;
  transform-origin: top;
}
.blur-zero-to-full {
  animation: blurZeroToFull 150ms ease-in;
}
.blur-full-to-zero {
  animation: blurFullToZero 150ms ease-out;
}
.blur-cycle {
  animation: blurCycle 200ms ease-out;
}
#loading {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 0;
}
#loading .frame {
  width: 80%;
  max-width: 300px;
  border: 1px solid #fff;
}
#loading .frame span {
  background: darkorange;
  display: block;
  width: 0;
  height: 10px;
}
.ov-item-list table {
  position: relative;
  width: 100%;
  font-size: 0.85rem;
  table-layout: fixed;
  border-collapse: separate;
  border-radius: 5px;
}
.ov-item-list table#itemList {
  margin-top: 0;
}
.ov-item-list table tr.divide-header th {
  padding-top: 0;
  padding-bottom: 0;
}
.ov-item-list table tr.separator td {
  background-color: rgba(95, 88, 84, 0.6);
  color: #eee;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  border-radius: 500px;
  text-shadow: 0 0 5px #000;
}
.ov-item-list table tr:not(.separator) {
  cursor: pointer;
}
.ov-item-list table tr:not(.separator):hover td {
  background-color: rgba(255, 255, 255, 0.4);
}
.ov-item-list table tr.selected {
  pointer-events: none;
}
.ov-item-list table tr.selected td {
  background-color: rgba(255, 255, 255, 0.4);
}
.ov-item-list table.sticky {
  margin-bottom: 0;
  background-color: #5f5854;
}
.ov-item-list table.sticky tr {
  cursor: default;
  border-radius: 5px;
}
.ov-item-list table.sticky tr th {
  color: #eee;
  text-transform: none;
  padding-top: 4px;
  padding-bottom: 4px;
  text-shadow: 0 0 5px #000;
}
.ov-item-list table td,
.ov-item-list table th {
  padding: 1px 5px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.ov-item-list table th:first-child,
.ov-item-list table td:first-child {
  width: 14px;
  text-align: left;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}
.ov-item-list table td:first-child {
  width: 24px;
  padding: 0;
}
.ov-item-list table td:first-child .type-icon {
  border: 1px solid #7c7672;
  border-radius: 50%;
}
.ov-item-list table td:first-child .type-icon.uni {
  border-color: #ffa500;
  box-shadow: 0 0 2px #ffa500;
}
.ov-item-list table th:last-child,
.ov-item-list table td:last-child {
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}
.ov-item-list table th {
  font-size: 0.75rem;
}
@media only screen and (min-width: 480px) {
  .ov-item-list table {
    font-size: 1rem;
  }
  .ov-item-list table th {
    font-size: 1rem;
  }
}
#sidePanel {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#sidePanel::-webkit-scrollbar {
  display: none;
}
#sidePanel.open {
  display: block;
}
#sidePanel.uni #panelClose {
  border-left-color: #ffa500;
}
#sidePanel.uni .panel {
  border-color: #ffa500;
  box-shadow: 0 0 8px #ffa500;
}
#sidePanel #panelClose {
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  left: 0;
  top: 50%;
  height: 0;
  width: 0;
  padding: 0;
  border: 60px solid transparent;
  border-left: 15px solid #5f5854;
  border-right: 15px solid transparent;
  transform: translate(0, -50%);
}
#sidePanel .panel {
  background-color: #e8e3de;
  position: relative;
  box-sizing: border-box;
  width: calc 70%;
  max-width: 360px !important;
  margin: 35px 15px;
  padding: 30px;
  border: 2px solid #5f5854;
  border-radius: 20px;
  box-shadow: 2px 2px 8px #5f5854;
}
#sidePanel .panel .content table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#sidePanel .panel .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sidePanel .panel .content .uk-accordion > li .uk-accordion-title {
  background-color: #5f5854;
  color: #eee;
  font-size: 1rem;
  padding: 1px 10px;
  text-shadow: 0 0 5px #000;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
#sidePanel .panel .content .uk-accordion > li .uk-accordion-title:before {
  content: '[show]';
  font-size: 0.875rem;
  line-height: 1.6;
  text-align: right;
  width: 50px;
  background: transparent;
}
#sidePanel .panel .content .uk-accordion > li .uk-accordion-title:hover {
  color: #ffa500;
}
#sidePanel .panel .content .uk-accordion > li .uk-accordion-content {
  margin-top: 5px;
}
#sidePanel .panel .content .uk-accordion > li .uk-accordion-content li {
  display: inline-block;
  float: left;
  font-size: 0.75rem;
  width: calc(50% - 20px);
  padding: 0 10px;
}
#sidePanel .panel .content .uk-accordion > li.uk-open .uk-accordion-title {
  color: #ffa500;
}
#sidePanel .panel .content .uk-accordion > li.uk-open .uk-accordion-title:before {
  content: '[hide]';
}
#sidePanel .panel hr {
  overflow: visible;
  text-align: inherit;
  margin: 10px 0;
  border: 0;
  border-top: 2px solid #ccc;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scaleYZeroToNormal {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes scaleYNormalToZero {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0);
  }
}
@keyframes blurZeroToFull {
  0% {
    filter: none;
  }
  100% {
    filter: blur(4px) brightness(0.5);
  }
}
@keyframes blurFullToZero {
  0% {
    filter: blur(4px) brightness(0.5);
  }
  100% {
    filter: none;
  }
}
@keyframes blurCycle {
  0% {
    filter: none;
  }
  50% {
    filter: blur(4px) brightness(0.5);
  }
  100% {
    filter: none;
  }
}
@keyframes fadeFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeToRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.page-weapons .ov-item-list table th:nth-child(2),
.page-weapons .ov-item-list table td:nth-child(2) {
  width: auto;
  text-align: left;
}
.page-weapons .ov-item-list table th:nth-child(3),
.page-weapons .ov-item-list table td:nth-child(3) {
  width: 40px;
}
.page-weapons .ov-item-list table th:nth-child(4),
.page-weapons .ov-item-list table td:nth-child(4) {
  width: 30px;
}
.page-weapons .ov-item-list table td:nth-child(4) {
  font-size: 0.875rem;
}
.page-weapons .ov-item-list table th:nth-child(5),
.page-weapons .ov-item-list table td:nth-child(5) {
  width: 25px;
}
.page-weapons .ov-item-list table th:nth-child(6),
.page-weapons .ov-item-list table td:nth-child(6) {
  width: 25px;
}
.page-weapons .ov-item-list table th:nth-child(7),
.page-weapons .ov-item-list table td:nth-child(7) {
  width: 30px;
}
.page-weapons .ov-item-list table th:nth-child(8) {
  width: 14px;
}
.page-weapons .ov-item-list table td:nth-child(8) {
  width: 24px;
  padding: 0;
}
.page-weapons .ov-item-list table th:nth-child(9),
.page-weapons .ov-item-list table td:nth-child(9) {
  width: 20px;
}
.page-weapons .ov-item-list table th:nth-child(10),
.page-weapons .ov-item-list table td:nth-child(10) {
  width: 25px;
}
#sidePanel.weapons-panel .title {
  margin-top: 10px;
}
#sidePanel.weapons-panel .title .level {
  font-size: 1rem;
  font-weight: bold;
  line-height: 2;
  margin-top: 5px;
}
#sidePanel.weapons-panel .title h2 {
  font-size: 1.5rem;
}
#sidePanel.weapons-panel .title h5 {
  font-style: italic;
  margin-top: 2px;
}
#sidePanel.weapons-panel .title h5 span {
  background-color: rgba(95, 88, 84, 0.6);
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(95, 88, 84, 0.6);
}
#sidePanel.weapons-panel .title h5 span img {
  max-width: 1.4rem;
  height: auto;
}
#sidePanel.weapons-panel .stats-top {
  margin-top: 20px;
}
#sidePanel.weapons-panel .stats-top .basic span {
  display: inline-block;
  min-width: 75px;
}
#sidePanel.weapons-panel .stats-top .basic b {
  display: inline-block;
  min-width: 50px;
}
#sidePanel.weapons-panel .stats-top .damage {
  text-align: center;
  margin-top: 15px;
}
#sidePanel.weapons-panel .stats-top .damage img {
  width: 40px;
}
#sidePanel.weapons-panel .stats-top .damage b {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-size: 1.125rem;
}
#sidePanel.weapons-panel .stats-top .damage .damage-race.undead b {
  position: relative;
}
#sidePanel.weapons-panel .stats-top .damage .damage-race.undead b:after {
  content: '\1F480';
  background-color: #fff;
  color: transparent;
  text-shadow: 0 0 0 #da3e3e;
  font-size: 0.875rem;
  position: absolute;
  text-align: center;
  right: 28px;
  top: -50px;
  width: 18px;
  height: 18px;
  border: 1px solid #7c7672;
  border-radius: 25%;
}
#sidePanel.weapons-panel .stats-top .on-hit {
  margin-top: 10px;
}
#sidePanel.weapons-panel .stats-top .on-hit table td:first-child {
  width: 60px;
  vertical-align: top;
}
#sidePanel.weapons-panel .stats-top .on-hit table td:last-child {
  width: auto;
}
#sidePanel.weapons-panel .stats-bottom span {
  display: inline-block;
  min-width: 60px;
}
#sidePanel.weapons-panel .stats-bottom b {
  display: inline-block;
  min-width: 35px;
}
#sidePanel.weapons-panel .stats-bottom .obsatk {
  font-size: 0.75rem;
}
#sidePanel.weapons-panel .stats-bottom .obsatk span {
  margin-right: 10px;
}
#sidePanel.weapons-panel .stats-extra {
  font-size: 0.875rem;
  margin-top: 15px;
}
#sidePanel.weapons-panel .stats-extra span {
  display: inline-block;
  min-width: 120px;
}
#sidePanel.weapons-panel .stats-extra .itemset b {
  color: #31c631;
}
#sidePanel.weapons-panel .notes table td {
  padding: 0;
}
#sidePanel.weapons-panel .notes table td:first-child {
  width: 60px;
  vertical-align: top;
}
#sidePanel.weapons-panel .notes table td:last-child {
  width: auto;
}
#sidePanel.weapons-panel .notes .uk-accordion {
  margin-top: 5px;
}
#sidePanel.weapons-panel .notes .uk-accordion > li .uk-accordion-title {
  background-color: #5f5854;
}
#sidePanel.weapons-panel .notes .uk-accordion > li .uk-accordion-content {
  margin-top: 5px;
}
#sidePanel.weapons-panel .notes .uk-accordion > li .uk-accordion-content li {
  width: calc(100% - 20px);
}
#sidePanel.weapons-panel .notes .uk-accordion > li .uk-accordion-content li span {
  display: inline-block;
  width: calc(100% - 20px);
}
#sidePanel.weapons-panel .notes .uk-accordion > li .uk-accordion-content li b {
  display: inline-block;
  width: 20px;
}
#sidePanel.weapons-panel .class {
  margin-top: 10px;
}
.page-armor .ov-item-list table th:nth-child(2),
.page-armor .ov-item-list table td:nth-child(2) {
  width: auto;
  text-align: left;
}
.page-armor .ov-item-list table th:nth-child(3),
.page-armor .ov-item-list table td:nth-child(3) {
  width: 40px;
}
.page-armor .ov-item-list table th:nth-child(4),
.page-armor .ov-item-list table td:nth-child(4) {
  width: 40px;
}
.page-armor .ov-item-list table th:nth-child(5),
.page-armor .ov-item-list table td:nth-child(5) {
  width: 25px;
}
.page-armor .ov-item-list table th:nth-child(6),
.page-armor .ov-item-list table td:nth-child(6) {
  width: 30px;
}
.page-armor .ov-item-list table td:nth-child(6) {
  font-size: 0.875rem;
}
.page-armor .ov-item-list table th:nth-child(7),
.page-armor .ov-item-list table td:nth-child(7) {
  width: 30px;
}
.page-armor .ov-item-list table td:nth-child(7) {
  font-size: 0.875rem;
}
.page-armor .ov-item-list table th:nth-child(8),
.page-armor .ov-item-list table td:nth-child(8) {
  width: 30px;
}
.page-armor .ov-item-list table td:nth-child(8) {
  font-size: 0.875rem;
}
.page-armor .ov-item-list table th:nth-child(9) {
  width: 14px;
}
.page-armor .ov-item-list table td:nth-child(9) {
  width: 24px;
  padding: 0;
}
.page-armor .ov-item-list table th:nth-child(10),
.page-armor .ov-item-list table td:nth-child(10) {
  width: 25px;
}
#sidePanel.armor-panel .title {
  margin-top: 10px;
}
#sidePanel.armor-panel .title .level {
  font-size: 1rem;
  font-weight: bold;
  line-height: 2;
  margin-top: 5px;
}
#sidePanel.armor-panel .title h2 {
  font-size: 1.5rem;
}
#sidePanel.armor-panel .title h5 {
  margin-top: 2px;
  font-style: italic;
}
#sidePanel.armor-panel .title h5 span {
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
  box-shadow: 0 0 2px #7c7672;
}
#sidePanel.armor-panel .title h5 span img {
  max-width: 2rem;
  height: auto;
  border: 1px solid #7c7672;
  border-radius: 50%;
}
#sidePanel.armor-panel .stats-top {
  margin-top: 20px;
}
#sidePanel.armor-panel .stats-top .basic span {
  display: inline-block;
  min-width: 75px;
}
#sidePanel.armor-panel .stats-top .basic b {
  display: inline-block;
  min-width: 50px;
}
#sidePanel.armor-panel .stats-top .damage {
  text-align: center;
  margin-top: 15px;
}
#sidePanel.armor-panel .stats-top .damage img {
  width: 40px;
}
#sidePanel.armor-panel .stats-top .damage b {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-size: 1.125rem;
}
#sidePanel.armor-panel .stats-top .damage .damage-race.undead b {
  position: relative;
}
#sidePanel.armor-panel .stats-top .damage .damage-race.undead b:after {
  content: '\1F480';
  background-color: #fff;
  color: transparent;
  text-shadow: 0 0 0 #da3e3e;
  font-size: 0.875rem;
  position: absolute;
  text-align: center;
  right: 28px;
  top: -50px;
  width: 18px;
  height: 18px;
  border: 1px solid #7c7672;
  border-radius: 25%;
}
#sidePanel.armor-panel .stats-top .on-hit {
  margin-top: 10px;
}
#sidePanel.armor-panel .stats-top .on-hit table td:first-child {
  width: 60px;
  vertical-align: top;
}
#sidePanel.armor-panel .stats-top .on-hit table td:last-child {
  width: auto;
}
#sidePanel.armor-panel .stats-bottom span {
  display: inline-block;
  min-width: 60px;
}
#sidePanel.armor-panel .stats-bottom b {
  display: inline-block;
  min-width: 35px;
}
#sidePanel.armor-panel .stats-bottom .obsatk {
  font-size: 0.75rem;
}
#sidePanel.armor-panel .stats-bottom .obsatk span {
  margin-right: 10px;
}
#sidePanel.armor-panel .stats-resists {
  text-align: center;
}
#sidePanel.armor-panel .stats-resists .uk-grid {
  margin-top: 10px;
  align-content: center;
}
#sidePanel.armor-panel .stats-resists img {
  width: 30px;
}
#sidePanel.armor-panel .stats-resists b {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 1rem;
}
#sidePanel.armor-panel .stats-extra {
  font-size: 0.875rem;
  margin-top: 15px;
}
#sidePanel.armor-panel .stats-extra span {
  display: inline-block;
  min-width: 120px;
}
#sidePanel.armor-panel .stats-extra .itemset b {
  color: #31c631;
}
#sidePanel.armor-panel .notes table td {
  padding: 0;
}
#sidePanel.armor-panel .notes table td:first-child {
  width: 60px;
  vertical-align: top;
}
#sidePanel.armor-panel .notes table td:last-child {
  width: auto;
}
#sidePanel.armor-panel .notes .uk-accordion {
  margin-top: 5px;
}
#sidePanel.armor-panel .notes .uk-accordion > li .uk-accordion-title {
  background-color: #5f5854;
}
#sidePanel.armor-panel .notes .uk-accordion > li .uk-accordion-content {
  margin-top: 5px;
}
#sidePanel.armor-panel .notes .uk-accordion > li .uk-accordion-content li {
  width: calc(100% - 20px);
}
#sidePanel.armor-panel .notes .uk-accordion > li .uk-accordion-content li span {
  display: inline-block;
  width: calc(100% - 20px);
}
#sidePanel.armor-panel .notes .uk-accordion > li .uk-accordion-content li b {
  display: inline-block;
  width: 20px;
}
#sidePanel.armor-panel .class {
  margin-top: 10px;
}
