
@font-face {
  font-family: 'JupiterPro-Condensed';
  src: url('../fonts/JupiterPro-Condensed.woff2') format('woff2'),
  url('../fonts/JupiterPro-Condensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'JupiterPro';
  src: url('../fonts/JupiterPro.woff2') format('woff2'),
  url('../fonts/JupiterPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@import "components/common";
@import "components/weapons";
@import "components/armor";
@import "components/sundries";
@import "components/abilities";
@import "components/skills";
@import "components/classes";
@import "components/characters";
@import "components/cheats";


