
.page-abilities {

  .ov-item-list {

    table {

      td:first-child {

        img {

          &.mark-basic {
            border-color: #8B4513;
            box-shadow: 0 0 1px fade(#8B4513, 60%);
          }
          &.mark-advanced {
            border-color: #4682B4;
            box-shadow: 0 0 1px fade(#4682B4, 60%);
          }
          &.mark-demi {
            border-color: #008000;
            box-shadow: 0 0 1px fade(#008000, 60%);
          }
          &.mark-monster {
            border-color: #B22222;
            box-shadow: 0 0 1px fade(#B22222, 60%);
          }
          &.mark-special {
            border-color: @color-orange;
            box-shadow: 0 0 1px @color-orange;
          }
        }
      }

      th:nth-child(2), td:nth-child(2) {
        width: auto;
        text-align: left;
      }
      th:nth-child(3), td:nth-child(3) {
        //width: 160px;
        text-align: left;

        img {
          background-color: rgba(95, 88, 84, 0.4);
          position: relative;
          top: 1px;
          max-width: 18px;
          margin-right: 4px;
          border-radius: 50%;
        }

        span {
          position: relative;
          top: -3px;
        }

        b {
          font-size: 0.85em;
          position: relative;
          bottom: 1px;
        }
      }
      th:nth-child(4), td:nth-child(4) {
        //width: 40px;
      }
      th:nth-child(5), td:nth-child(5) {
        //width: 80px;
      }
    }
  }
}

#sidePanel.abilities-panel {

  .panel {

    .content {

      .stats-top {
        margin-top: 20px;

        .basic {
          display: flex;
          flex-wrap: wrap;

          &>div {
            width: 100%;
          }

          span {
            display: inline-block;
            min-width: 60px;
          }

          .price {

            small {
              font-weight: normal;
            }
          }

          .falch, .usedfor {

            span {
              margin-right: 5px;
            }
          }
        }
      }

      .stats-reagent {

        table {

          td:first-child {
            vertical-align: top;
            width: 75px;
          }

          b {
            b {
              font-size: 0.75rem;
              font-weight: normal;
              b {
                font-weight: bold;
              }
            }
          }
        }
      }

      .stats-effect {

        span {
          display: inline-block;
        }

        b {
          display: inline-block;

          b {
            margin-left: 5px;
          }
        }

        &>div {
          display: flex;
          flex-wrap: wrap;

          &>div {
            width: 50%;

            &:nth-child(2n + 1) {

              span {
                min-width: 60px;
              }
            }
            &:nth-child(2n) {

              b {
                min-width: 35px;
              }
            }
          }
        }

        .ability>div {
          width: 100%;
        }

        .ability {

          .name b {
            font-size: 1.2rem;
          }

          .type b {
            font-size: 0.85em;
            position: relative;
            top: -1px;
          }

          .type img {
            display: inline-block;
            background-color: rgba(95, 88, 84, 0.4);
            position: relative;
            height: 16px;
            margin-right: 4px;
            border-radius: 50%;
            top: 2px;
          }
        }

        .main {
           margin-top: 10px;

           &>div {

             &:first-child {
               width: 45%;

               span {
                 min-width: 65px;
               }
             }
             &:nth-child(2) {
               width: 55%;

               b {
                 min-width: 35px;
                 margin-left: 5px;
               }
             }
             &:nth-child(3) {
               width: 70%;

               span {
                 min-width: 65px;
               }
             }
             &:nth-child(4) {
               width: 30%;

               b {
                 min-width: 40px;
               }
             }

             .reagent {

               b {
                 font-size: 0.75em;
                 position: relative;
                 top: -1px;
               }
             }
           }
         }

        [class^='effect-'] {

          &>div {
            width: 100%;

            li > span {
              min-width: 80px;
            }
          }
        }

        .divider-text {
          display: block;
          font-size: 0.75em;
          font-weight: bold;
          text-align: center;
          margin: 10px 0 5px;

          &:before,
          &:after {
            content: '';
            background-color: #ccc;
            display: inline-block;
            height: 2px;
            position: relative;
            vertical-align: middle;
            bottom: 2px;
            width: 10%;
          }
          &:before {
            margin-right: 5px;
          }
          &:after {
            margin-left: 5px;
          }
        }
      }

      .stats-extra {
        font-size: 0.875rem;
        margin-top: 15px;

        span {
          display: inline-block;
          min-width: 120px;
        }

        .itemset {

          b{
            color: @color-green;
          }
        }
      }

      .obtain, .notes {

        table {

          td:first-child {
            width: 50px;
          }
        }
      }
    }
  }
}
