
.page-armor {

  .ov-item-list {

    table {

      th:nth-child(2), td:nth-child(2) {
        width: auto;
        text-align: left;
      }
      th:nth-child(3), td:nth-child(3) {
        width: 40px;
      }
      th:nth-child(4), td:nth-child(4) {
        width: 40px;
      }
      th:nth-child(5), td:nth-child(5) {
        width: 25px;
      }
      th:nth-child(6), td:nth-child(6) {
        width: 30px;
      }
      td:nth-child(6) {
        font-size: 0.875rem;
      }
      th:nth-child(7), td:nth-child(7) {
        width: 30px;
      }
      td:nth-child(7) {
        font-size: 0.875rem;
      }
      th:nth-child(8), td:nth-child(8) {
        width: 30px;
      }
      td:nth-child(8) {
        font-size: 0.875rem;
      }
      th:nth-child(9) {
        width: 14px;
      }
      td:nth-child(9) {
        width: 24px;
        padding: 0;
      }
      th:nth-child(10), td:nth-child(10) {
        width: 25px;
      }
    }
  }
}

#sidePanel.armor-panel {

  .title {
    margin-top: 10px;

    .level {
      font-size: 1rem;
      font-weight: bold;
      line-height: 2;
      margin-top: 5px;
    }

    h2 {
      font-size: 1.5rem;
    }

    h5 {
      margin-top: 2px;
      font-style: italic;

      span {
        display: inline-block;
        margin-right: 5px;
        border-radius: 50%;
        box-shadow: 0 0 2px @border-dark;

        img {
          max-width: 2rem;
          height: auto;
          border: 1px solid @border-dark;
          border-radius: 50%;
        }
      }
    }
  }

  .stats-top {
    margin-top: 20px;

    .basic {

      span {
        display: inline-block;
        min-width: 75px;
      }

      b {
        display: inline-block;
        min-width: 50px;
      }
    }

    .damage {
      text-align: center;
      margin-top: 15px;

      img {
        width: 40px;
      }
      b {
        display: inline-block;
        width: 40px;
        text-align: center;
        font-size: 1.125rem;
      }

      .damage-race.undead {

        b {
          position: relative;

          &:after {
            content: '\1F480';
            background-color: #fff;
            color: transparent;
            text-shadow: 0 0 0 @color-red;
            font-size: 0.875rem;
            position: absolute;
            text-align: center;
            right: 28px;
            top: -50px;
            width: 18px;
            height: 18px;
            border: 1px solid @border-dark;
            border-radius: 25%;
          }
        }
      }
    }

    .on-hit {
      margin-top: 10px;

      table {

        td:first-child {
          width: 60px;
          vertical-align: top;
        }
        td:last-child {
          width: auto;
        }
      }
    }
  }

  .stats-bottom {

    span {
      display: inline-block;
      min-width: 60px;
    }

    b {
      display: inline-block;
      min-width: 35px;
    }

    .obsatk {
      font-size: 0.75rem;

      span {
        margin-right: 10px;
      }
    }
  }

  .stats-resists {
    text-align: center;

    .uk-grid {
      margin-top: 10px;

      align-content: center;
    }

    img {
      width: 30px;
    }
    b {
      display: inline-block;
      width: 30px;
      text-align: center;
      font-size: 1rem;
    }
  }

  .stats-extra {
    font-size: 0.875rem;
    margin-top: 15px;

    span {
      display: inline-block;
      min-width: 120px;
    }

    .itemset {

      b{
        color: @color-green;
      }
    }
  }

  .notes {

    table {

      td {
        padding: 0;
      }

      td:first-child {
        width: 60px;
        vertical-align: top;
      }
      td:last-child {
        width: auto;
      }
    }

    .uk-accordion {
      margin-top: 5px;

      &>li {

        .uk-accordion-title {
          background-color: @background-dark;
        }

        .uk-accordion-content {
          margin-top: 5px;

          li {
            width: calc(100% - 20px);

            span {
              display: inline-block;
              width: calc(100% - 20px);
            }
            b {
              display: inline-block;
              width: 20px;
            }
          }
        }
      }
    }
  }

  .class {
    margin-top: 10px;
  }
}
