
@main-font: BenguiatITC-Condensed, serif;
@title-font: JupiterPro-Condensed, serif;

@content-width: 960px;
@content-padding-s: 15px;
@content-padding-m: 30px;
@content-padding-l: 40px;

@background-page: #333;
@background-muted: #f8f8f8;
@background-footer: #eee;
@background-header: #11cacc;
@background-content: #fb9b49;
@background-card: #e8e3de;

@background-dark: #5f5854;
@color-red: #ff4630 ;
@color-pink: #f676a1;
@color-green: #29a329;
@color-blue: #0e6dcd;
@color-purple: #7e44d2;
@color-orange: #ee9500;
@color-unique: #af6025;
@highlight-white: rgba(255, 255, 255, 0.4);
@highlight-dark: rgba(95, 88, 84, 0.6);
@border-dark: #7c7672;
@border-light: #ccc;
@text-light: #eee;
@text-dark: #333;

html {
  font-family: @main-font;
  background-color: #333;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;

  *, *::before, *::after {
    box-sizing: border-box;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  animation: fadeIn ease 1s;
}

.container {
  display: flow-root;
  box-sizing: border-box;
}

.ov-main-container {
  background: url('../img/background.png');
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  max-width: @content-width;

  .ov-banner {

    h1 {
      font-family: @title-font;
      text-align: center;
      margin: 40px 0 20px;
      text-transform: uppercase;
      color: #f6f6f6;
      text-shadow: 1px 1px 2px #000,
        1px -1px 2px #000,
      -1px 1px 2px #000,
        -1px -1px 2px #000,
      0 0 10px #000;
    }
  }

  .ov-content {
    padding: 20px @content-padding-s;

    @media only screen and (min-width: 640px) {
      padding-left: @content-padding-m;
      padding-right: @content-padding-m;
    }
    @media only screen and (min-width: 960px) {
      padding-left: @content-padding-l;
      padding-right: @content-padding-l;
    }
  }
}

.page-home {

  .ov-main-container {
    position: relative;
    padding-bottom: 40px;

    .ov-banner {

      h1 {
        font-family: @title-font;
        font-size: 3rem;
        margin: 60px 0 40px;
      }

      img {
        display: block;
        border-bottom: 2px solid #20180F;
        box-shadow: 0 5px 10px -5px black;
      }
    }

    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 10px 15px;
    }
  }
}

.ov-menu-grid {
  display: flex;
  flex-wrap: wrap;
  @grid-gap: 15px;
  gap: @grid-gap;

  &:not(:first-child) {
    margin-top: 50px;
  }

  &>div {
    height: 65px;

    &.width-1-3 {
      width: calc( (100% - @grid-gap * 2) / 3);
    }
    &.width-1-4 {
      width: calc( (100% - @grid-gap) / 2);
    }

    a {
      color: #f6f6f6;
      background: linear-gradient(fade(#fff, 40%), transparent 60%, fade(#166238, 50%)), #16374f;
      display: block;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      width: 100%;
      height: 100%;
      border: 1px solid #3d3d3d;
      border-radius: 10px;
      box-shadow: inset 2px 2px 5px fade(#dedede, 80%),
        inset -2px -2px 5px fade(#3d3d3d, 80%),
        0 2px 4px #3d3d3d;
      text-shadow: 0 0 5px #000;

      img {
        display: block;
        width: 30px;
        margin: 5px auto;
        filter: drop-shadow(1px 1px 1px #f6f6f6)
          drop-shadow(1px -1px 1px #f6f6f6)
          drop-shadow(-1px 1px 1px #f6f6f6)
          drop-shadow(-1px -1px 1px #f6f6f6);
        transition: filter 0.2s;
      }

      &:hover {
        color: @color-orange;

        img {
          filter: drop-shadow(5px 0 5px @color-orange) drop-shadow(-5px 0 5px @color-orange);
        }
      }
    }
  }


  @media only screen and (min-width: 560px) {

    &>div {
      height: 80px;

      &.width-1-4 {
        width: calc( (100% - @grid-gap * 3) / 4);
      }

      a {
        font-size: 1.15rem;

        img {
          width: 40px;
          margin: 5px auto;
        }
      }
    }
  }
}

.ov-navigation {
  background-color: @background-card;
  position: fixed;
  left: e('max(5px, 50% - 475px)');
  bottom: 5px;
  border-radius: 16px;
  overflow: visible;
  z-index: 999;
  box-shadow: 0 1px 3px #5f5854;

  .accordion-title {
    background: url("../img/icon-shortcut.png") center / 22px no-repeat, #25282C;
    position: absolute;
    height: 38px;
    width: 32px;
    bottom: 0;
    left: 0;
    padding: 0;
    border-radius: 500px;
    box-shadow: 0 1px 3px @background-dark;
    outline: 2px solid #DABA40;
    outline-offset: -3px;

    i {
      font-family: @main-font;
      display: none;
      position: absolute;
      background-color: @text-light;
      font-style: normal;
      font-weight: bold;
      width: 16px;
      height: 2px;
      left: calc(50% - 8px);
      top: calc(50% - 1px);
      pointer-events: none;

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        background-color: @text-light;
        width: 16px;
        height: 2px;
        top: calc(50% - 7px);
      }
      &:after {
        top: calc(50% + 5px);
      }
    }
  }

  .accordion-content {
    height: 0;
    width: 0;
    overflow: hidden;
    border-radius: 16px;
    border: 0 solid transparent;

    >ul {
      padding: 10px 10px 42px;
      transition: opacity 1s ease;

      >li {
        padding: 2px 0;

        >a {
          display: block;
          color: @text-dark;
          font-size: 18px;
          line-height: 20px;
          padding: 2px 10px 2px 2px;
          white-space: nowrap;
          border-radius: 8px;

          img {
            max-width: 20px;
            margin-right: 4px;
            vertical-align: bottom;
          }

          &:hover {
            background: @highlight-white;
          }
        }

        &.active {

          >a {
            background-color: rgba(@color-orange, .3);
            pointer-events: none;
            font-weight: bold;
          }
        }
      }

      >hr {
        margin: 5px 0;
        border: 0;
        border-top: 2px solid #ccc;
      }
    }
  }

  &.open {

    .accordion-title {
      height: 44px;
      width: 38px;
      bottom: -3px;
      left: -3px;
    }

    .accordion-content {
      width: auto;
      border: 2px solid @border-dark;
    }
  }
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}
a:focus, a:hover {
  text-decoration: none;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

b, .bold {
  font-weight: bold;
}

small {
  font-size: 0.85em;
}

.neg {
  color: @color-red;
}
.red {
  color: @color-red;
}
.pink {
  color: @color-pink;
}
.green {
  color: @color-green;
}
.blue {
  color: @color-blue;
}
.orange {
  color: @color-orange;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button.ov-btn {
  background-color: @highlight-white;
  color: #333;
  font-family: sans-serif;
  font-size: 0.625rem;
  font-weight: bold;
  text-shadow: 0 0 6px white;
  padding: 2px 8px 2px;
  margin-right: 5px;
  border-radius: 500px;
  border: 1px solid @highlight-dark;
  box-shadow: inset 0 0 3px @highlight-dark;

  &.active {
    border-color: @color-unique;
    box-shadow: inset 0 0 3px @color-orange;
  }

  @media only screen and (min-width: 720px) {
    font-size: 0.75rem;
    padding: 3px 10px 2px;
  }
}

canvas, img, video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
.icon {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  line-height: inherit;
  color: inherit;
  text-transform: none;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  fill: currentcolor;
  line-height: 0;
}

.hidden {
  display: none !important;
}

.margin-small-top {
  margin-top: 10px;
}

ul, ol {
  margin: 0;
  list-style: none;
}
ul {
  padding: 0;
}
ol {
  padding-left: 30px;
  counter-reset: item;

  li {
    position: relative;

    &:before {
      content: counter(item) "  ";
      counter-increment: item;
      position: absolute;
      background-color: @background-dark;
      color: @text-light;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      line-height: 20px;
      top: 2px;
      left: -30px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}

.ov-button-pad {
  background: linear-gradient(to bottom right, #555, #666), #555;
  color: #da3e3e;
  top: 10px;
  right: 10px;
  padding: 6px 5px 4px;
  border-radius: 50%;
  box-shadow: 0 2px 2px #333, inset 0 1px 1px #999;

  &:hover {
    color: #de5454;
    background: #555;
  }

  svg {
    line {
      stroke-width: 2;
    }
  }
}

.fade-from-right {
  animation: fadeFromRight 250ms ease-in;
}
.fade-to-right {
  animation: fadeToRight 250ms ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 150ms ease-in;
}
.fade-out {
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.scale-zero-to-normal {
  animation: scaleZeroToNormal 100ms ease-in;
  transform-origin: top;
}
.scale-normal-to-zero {
  animation: scaleNormalToZero 100ms ease-out;
  transform-origin: top;
}

.blur-zero-to-full {
  animation: blurZeroToFull 150ms ease-in;
}
.blur-full-to-zero {
  animation: blurFullToZero 150ms ease-out;
}

.blur-cycle {
  animation: blurCycle 200ms ease-out;
}

#loading {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 0;

  .frame {
    width: 80%;
    max-width: 300px;
    border: 1px solid #fff;

    span {
      background: darkorange;
      display: block;
      width: 0;
      height: 10px;
    }
  }
}

.ov-gallery {

  img {
    cursor: zoom-in;
  };
}
#galleryModal {
  background-color: #0008;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  animation: fadeIn ease 500ms;

  >div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      display: block;
      max-width: calc(100vw - 60px);
      max-height: calc(100vh - 60px);
      object-fit: contain;
    }

    button {
      background-color: #25282C;
      color: @text-light;
      position: absolute;
      box-shadow: 0 1px 3px @background-dark;
      outline: 2px solid #DABA40;
      outline-offset: -3px;

      &:after {
        content: '';
        position: absolute;
        font-size: 18px;
        text-align: center;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }

      &.close-button {
        top: -18px;
        right: -18px;
        width: 36px;
        height: 36px;
        border-radius: 50%;

        &:after {
          content: '\2716';
        }
      }

      &.prev-button, &.next-button {
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 48px;

        &:after {
          font-size: 20px;
          font-weight: bold;
        }
      }

      &.prev-button {
        left: -28px;
        border-top-left-radius: 500px;
        border-bottom-left-radius: 500px;

        &:after {
          content: '\25D6';
          right: 3px;
        }
      }

      &.next-button {
        right: -28px;
        border-top-right-radius: 500px;
        border-bottom-right-radius: 500px;

        &:after {
          content: '\25D7';
          right: calc(100% - 3px);
        }
      }
    }
  }
}

.ov-item-list {

  table {
    position: relative;
    width: 100%;
    font-size: 0.85rem;
    table-layout: fixed;
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 0;
    box-sizing: border-box;
    line-height: 1;

    &#itemList {
      margin-top: 0;
    }

    tr {

      &.divide-header {

        th {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &.separator {

        td {
          background-color: @highlight-dark;
          color: @text-light;
          font-size: 0.7rem;
          text-transform: uppercase;
          letter-spacing: 5px;
          font-weight: bold;
          text-align: center;
          border-radius: 500px;
          text-shadow: 0 0 5px #000;
          padding: 3px 0;
        }
      }

      &:not(.separator) {
        cursor: pointer;

        &:hover {
          td {
            background-color: @highlight-white;
          }
        }
      }

      &.selected {
        pointer-events: none;

        td {
          background-color: @highlight-white;
        }
      }
    }

    &.sticky {
      margin-bottom: 0;
      background-color: @background-dark;

      tr {
        cursor: default;
        border-radius: 5px;

        th {
          color: @text-light;
          text-transform: none;
          padding-top: 4px;
          padding-bottom: 4px;
          text-shadow: 0 0 5px #000;
        }
      }

      &.fixed {
        position: fixed;
        top: 0;
        z-index: 980;
        max-width: calc(100% - @content-padding-s * 2);
      }
    }

    td, th {
      padding: 1px 5px;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
    }

    th:first-child, td:first-child {
      width: 18px;
      text-align: left;
      border-top-left-radius: 500px;
      border-bottom-left-radius: 500px;
    }
    td:first-child {

      padding: 0;

      img {
        background-color: #E7E2D6;
        display: block;
        border: 1px solid @border-dark;
        border-radius: 50%;
        box-shadow: 0 1px 0 #7c7672, inset 0 2px 0 #fff;

        &.uni {
          border-color: @color-orange;
          box-shadow: 0 0 2px @color-orange;
        }
        &.ban {
          border-color: @color-red;
          box-shadow: 0 0 2px @color-red;
        }
      }
    }
    th:last-child, td:last-child {
      border-top-right-radius: 500px;
      border-bottom-right-radius: 500px;
    }

    th {
      font-size: 0.75rem;
    }

    @media only screen and (min-width: 480px) {
      font-size: 1rem;

      th {
        font-size: 1rem;
      }
    }
  }

  @media only screen and (min-width: 480px) {
    table {
      th:first-child, td:first-child {
        width: 26px;
      }
    }
  }
  @media only screen and (min-width: 640px) {
    table {
      &.sticky {
        &.fixed {
          max-width: calc(100% - @content-padding-m * 2);
        }
      }
    }
  }
  @media only screen and (min-width: 960px) {
    table {
      &.sticky {
        &.fixed {
          max-width: calc(@content-width - @content-padding-l * 2);
        }
      }
    }
  }
}

.ov-accordion {
  position: relative;

  &>li {

    .accordion-title {
      font-family: @main-font;
      display: block;
      position: relative;
      width: 100%;
      transition: all 200ms ease-in-out;

      &:after {
        content: '[show]';
        background: transparent;
        position: absolute;
        text-align: right;
        right: 10px;
      }
    }

    .accordion-content {
      display: flow-root;
      position: absolute;
      width: 100%;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }

    &.open {

      &>.accordion-title {

        &:after {
          content: '[hide]';
        }
      }

      &>.accordion-content {
        position: relative;
        opacity: 1;
        height: auto;
      }
    }
  }
}

[data-tooltip] {
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, transparent, @color-orange);
    left: 0;
    bottom: 1px;
    height: 1px;
    width: calc(100% + 1px);
  }
  &:after {
    content: '';
    position: absolute;
    background: linear-gradient(transparent, @color-orange);
    left: calc(100% + 1px);
    bottom: 1px;
    height: 100%;
    max-height: 0;
    width: 2px;
    transition: max-height 250ms ease-out;
  }
  &:hover, &.open {
    &:after {
      max-height: 100%;
    }
  }

  >.tooltip {
    position: absolute;
    background-color: lighten(@background-card, 5%);
    color: @text-dark;
    cursor: default;
    font-size: 0.875rem;
    font-weight: normal;
    width: max-content;
    max-width: 220px;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px;
    border: 2px solid @color-orange;
    border-radius: 6px;
    box-shadow: 1px 1px 4px @background-dark;
    animation: fadeIn ease 250ms;

    &:before {
      content: '';
      position: absolute;
      background-color: @color-orange;
      left: calc(50% - 1.5px);
      top: calc(100% + 1px);
      width: 3px;
      height: 8px;
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
      box-shadow: 1px 1px 2px #5f5854;
    }

    p {
      margin-top: 6px;
    }
  }

  &[data-tooltip*=obtain] {

    >.tooltip {
      >ul {
        display: flex;
        width: 500px;
        max-width: 100%;
        flex-wrap: wrap;
        font-size: 0.7rem;
        list-style: none;
        padding: 0;

        li {
          width: 100%;
          font-size: 0.7rem !important;
          margin-left: 10px;
        }

        &.drop, &.steal, &.auction {
          list-style: circle;

          li {
            margin-left: 15px;
          }
        }

        &.craft {

          li {

            span {
              display: inline-block;
            }
            b {
              display: inline-block;
              width: 20px;
              float: right;
            }
          }
        }
      }
    }
  }

  &[data-tooltip*=itemset] {

    >.tooltip {
      >ul {
        display: flex;
        width: 500px;
        max-width: 100%;
        flex-wrap: wrap;
        font-size: 0.7rem;
        list-style: none;
        padding: 0;
        margin-top: 6px;

        li {
          width: 100%;
          font-size: 0.7rem !important;

          img {
            display: inline-block;
            position: relative;
            height: 12px;
            margin-right: 4px;
            border-radius: 50%;
            top: 2px;
          }
        }
      }
    }
  }
}

#sidePanel {
  display: none;
  position: fixed;
  right: e('max(10px, 50% - 860px)');
  top: 0;
  width: calc(100% - 20px);
  max-width: 370px;
  max-height: 100vh;
  padding: 30px 5px 15px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &.open {
    display: block;
    z-index: 981;
  }

  &.uni {
    #panelClose {
      border-left-color: @color-orange;
    }
    .panel {
      border-color: @color-orange;
      //box-shadow: 0 0 8px @color-orange;
    }
  }

  &.ban {
    #panelClose {
      border-left-color: @color-red;
    }
    .panel {
      border-color: @color-red;
      //box-shadow: 0 0 8px @color-orange;
    }
  }

  #panelClose {
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    left: 0;
    top: 50%;
    height: 0;
    width: 0;
    padding: 0;
    border: 60px solid transparent;
    border-left: 15px solid @background-dark;
    border-right: 15px solid transparent;
    transform: translate(0, -50%);
  }

  .panel {
    background-color: @background-card;
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    border: 2px solid @background-dark;
    border-radius: 20px;
    box-shadow: 1px 1px 4px @background-dark;

    .content {

      table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
      }

      .title {

        .level {
          font-size: 1rem;
          font-weight: bold;
          line-height: 2;
          margin-top: 5px;
        }

        h2 {
          font-size: 1.5rem;
        }

        .subtitle  {
          font-style: italic;
          margin-top: 2px;
          display: table;

          span {
            display: table-cell;
            vertical-align: middle;

            img {
              max-width: 28px;
              height: auto;
              border: 1px solid @border-dark;
              border-radius: 50%;
              box-shadow: 0 0 2px @border-dark;

              &.uni {
                border-color: @color-orange;
                box-shadow: 0 0 3px @color-orange;
              }

              &.ban {
                border-color: @color-red;
                box-shadow: 0 0 3px @color-red;
              }
            }
          }

          span:not(.icon) {
            padding: 2px 0 0 5px;
          }
        }
      }

      .damage {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 15px;

        &>div {
          width: calc(100% * 1 / 3.001);
        }

        img {
          background-color: #D1BEA5;
          width: 40px;
          border: 1px solid #5f5854;
          border-radius: 8px;
          box-shadow: inset 0 0 5px fade(#3C322D, 60%), 0 0 2px fade(#5f5854, 60%);
        }
        b {
          display: inline-block;
          width: 40px;
          text-align: center;
          font-size: 1.125rem;
        }

        .damage-race.undead {

          b {
            position: relative;

            &:after {
              content: '';
              background: #fff url('../img/icons/damage-sacred.png') no-repeat center;
              position: absolute;
              right: 28px;
              top: -50px;
              width: 18px;
              height: 18px;
              border: 1px solid @border-dark;
              border-radius: 25%;
            }
          }
        }
      }

      .stats-effect {

        span {
          display: inline-block;
        }

        b {
          display: inline-block;

          b {
            margin-left: 5px;
          }
        }

        &>div {
          display: flex;
          flex-wrap: wrap;

          &>div {
            width: 50%;

            &:nth-child(2n + 1) {

              li > span {
                min-width: 60px;
              }
            }
            &:nth-child(2n) {

              b {
                min-width: 35px;
              }
            }
          }
        }

        .ability>div {
          width: 100%;
        }

        .ability {

          .name b {
            font-size: 1.2rem;
          }

          .type b {
            font-size: 0.85em;
            position: relative;
            top: -1px;
          }

          .type img {
            display: inline-block;
            background-color: rgba(95, 88, 84, 0.4);
            position: relative;
            height: 16px;
            margin-right: 4px;
            border-radius: 50%;
            top: 2px;
          }
        }

        .main {
          margin-top: 10px;

          &>div {

            &:first-child {
              width: 45%;

              span {
                min-width: 65px;
              }
            }
            &:nth-child(2) {
              width: 55%;

              b {
                min-width: 35px;
                margin-left: 5px;
              }
            }
            &:nth-child(3) {
              width: 65%;

              span {
                min-width: 65px;
              }
            }
            &:nth-child(4) {
              width: 35%;

              b {
                min-width: 40px;
              }
            }

            .reagent {

              b {
                font-size: 0.75em;
                position: relative;
                top: -1px;
              }
            }
          }
        }

        [class^='effect-'] {

          &>div {
            width: 100%;

            ul > li > span {
              min-width: 80px;
            }

            .effect, .restrict {

              &>span {
                float: left;
              }

              b {
                width: calc(100% - 80px);
              }
            }

            .acc, .restrict {

              b {
                font-size: 0.85rem;
              }
            }

            .profile {

              b {

                img {
                  display: inline-block;
                  background-color: rgba(95, 88, 84, 0.4);
                  position: relative;
                  height: 16px;
                  margin-right: 4px;
                  border-radius: 50%;
                  top: 2px;
                }
              }
            }
          }
        }

        .effect-obstacle {
          margin-top: 15px;

          b {
            margin-left: 10px;
          }
        }

        .divider-text {
          display: block;
          font-size: 0.75em;
          font-weight: bold;
          text-align: center;
          margin: 10px 0 5px;

          &:before,
          &:after {
            content: '';
            background-color: #ccc;
            display: inline-block;
            height: 2px;
            position: relative;
            vertical-align: middle;
            bottom: 2px;
            width: 10%;
          }
          &:before {
            margin-right: 5px;
          }
          &:after {
            margin-left: 5px;
          }
        }
      }

      .ov-accordion {
        background-color: lighten(@background-card, 5%);
        border-radius: 5px;
        margin-top: 10px;

        &>li {

          .accordion-title {
            background-color: @background-dark;
            color: @text-light;
            font-size: 1rem;
            text-align: left;
            padding: 1px 10px;
            text-shadow: 0 0 5px #000;
            border-radius: 5px;

            &:after {
              font-size: 0.875rem;
              //line-height: 1.6; for title font
              width: 50px;
            }

            &:hover {
              color: @color-orange;
            }
          }

          .accordion-content {

            &>* {
              margin: 5px 10px;
            }

            ul {
              display: flex;
              flex-wrap: wrap;
              font-size: 0.7rem;

              li {

                &.spacer {
                  width: 100% !important;
                  margin: 3px 0;
                  border-bottom: 1px solid @border-light;
                }
              }
            }
          }

          &.open {

            .accordion-title {
              color: @color-orange;
            }
          }
        }

        &.info {
          margin-top: 20px;
          border-radius: 12px;
          box-shadow: inset 0 0 3px @highlight-dark;

          button {
            background-color: transparent;
            color: @text-dark;
            padding: 2px 10px 2px;
            border-radius: 12px;
            text-shadow: none;
          }

          .accordion-content {

            ul {
              font-size: 0.875rem;
              margin: 5px 10px 10px;

              li {
                width: 100%;

                b {
                  float: right;
                  text-align: right;
                  min-width: unset;
                }
              }
            }
          }
        }
      }

      .obtain {

        .ov-accordion {

          .accordion-content {

            ul {

              li {
                width: 100%;
                margin-left: 10px;
              }

              &.drop, &.steal, &.auction {
                list-style: circle;

                li {
                  margin-left: 15px;
                }
              }

              &.craft {

                li {

                  span {
                    display: inline-block;
                  }
                  b {
                    display: inline-block;
                    width: 20px;
                    float: right;
                  }
                }
              }
            }
          }
        }
      }

      .usable {

        .ov-accordion {

          .accordion-content {

            ul {
              list-style: circle;

              li {
                width: 100%;
                margin-left: 15px;
              }

              &.item {

                li {

                  span {
                    display: inline-block;
                  }
                  b {
                    display: inline-block;
                    width: 40px;
                    float: right;
                    text-align: right;

                    small {
                      font-weight: normal;
                    }
                  }
                }
              }

              &.gear {
                list-style: none;

                li {
                  margin-left: 5px;

                  img {
                    display: inline-block;
                    position: relative;
                    height: 12px;
                    margin-right: 4px;
                    border-radius: 50%;
                    top: 2px;
                  }
                  span {
                    display: inline-block;
                  }
                  b {
                    display: inline-block;
                    width: 40px;
                    float: right;
                    text-align: right;

                    small {
                      font-weight: normal;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .class {

        .ov-accordion {

          &>li {

            .accordion-content {

              ul {
                gap: 0 6px;

                li {
                  width: calc(50% - 3px);
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }

      .magic {

        .ov-accordion {

          &>li {

            .accordion-content {

              ul {

                li {
                  width: 100%;
                  white-space: nowrap;
                  margin: 0;

                  span {
                    display: inline-block;
                  }

                  &>b {
                    display: inline-block;
                    width: 40px;
                    float: right;
                    text-align: right;

                    small {
                      font-weight: normal;
                    }
                  }
                }
              }
            }
          }
        }

        &.spells {

          .ov-accordion {

            &>li {

              .accordion-content {

                ul {

                  li {

                    b {
                      width: 50px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .notes {

        table {
          border-collapse: separate;
          border-spacing: 0 10px;
          margin: -10px 0 -10px;

          td {
            padding: 0;
          }

          td:first-child {
            width: 60px;
            vertical-align: top;
          }
          td:last-child {
            width: auto;
            font-size: 0.85em;
            font-weight: bold;
          }
        }
      }

      .class, .notes {
        margin-top: 10px;
      }
    }

    hr {
      overflow: visible;
      text-align: inherit;
      margin: 10px 0;
      border: 0;
      border-top: 2px solid @border-light;
    }
  }
}

@keyframes fadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes scaleYZeroToNormal {
  0%   {transform: scale(1, 0);}
  100% {transform: scale(1, 1);}
}
@keyframes scaleYNormalToZero {
  0%   {transform: scale(1, 1);}
  100% {transform: scale(1, 0);}
}

@keyframes blurZeroToFull {
  0%   {filter: none;}
  100% {filter: blur(4px) brightness(0.5);}
}
@keyframes blurFullToZero {
  0%   {filter: blur(4px) brightness(0.5);}
  100% {filter: none;}
}
@keyframes blurCycle {
  0%   {filter: none;}
  50%  {filter: blur(4px) brightness(0.5);}
  100% {filter: none;}
}
@keyframes fadeFromRight {
  0%    {
    opacity:0;
    transform:translateX(50px);
  }
  100%  {
    opacity:1;
    transform:translateX(0);
  }
}
@keyframes fadeToRight {
  0%    {
    opacity:1;
    transform:translateX(0);
  }
  100%  {
    opacity:0;
    transform:translateX(50px);
  }
}

@keyframes spin {
  0%    {transform:rotate(0deg);}
  100%  {transform:rotate(360deg);}
}