
.page-weapons {

  .ov-item-list {

    table {

      th:nth-child(2), td:nth-child(2) {
        width: auto;
        text-align: left;
      }
      th:nth-child(3), td:nth-child(3) {
        width: 30px;
      }
      td:nth-child(3) {
        font-weight: bold;
      }
      th:nth-child(4), td:nth-child(4) {
        width: 30px;
      }
      td:nth-child(4) {
        font-size: 0.875rem;
      }
      th:nth-child(5), td:nth-child(5) {
        width: 25px;
      }
      th:nth-child(6), td:nth-child(6) {
        width: 25px;
      }
      th:nth-child(7), td:nth-child(7) {
        width: 25px;
      }
      th:nth-child(8) {
        width: 16px;
      }
      td:nth-child(8) {
        width: 16px;
        padding: 0;
      }
      th:nth-child(9), td:nth-child(9) {
        width: 20px;
      }
      th:nth-child(10), td:nth-child(10) {
        width: 25px;
      }
    }
  }

  @media only screen and (min-width: 480px) {
    .ov-item-list {
      table {

        th:nth-child(3), td:nth-child(3) {
          width: 50px;
        }
        th:nth-child(4), td:nth-child(4) {
          width: 50px;
        }
        th:nth-child(5), td:nth-child(5) {
          width: 40px;
        }
        th:nth-child(6), td:nth-child(6) {
          width: 40px;
        }
        th:nth-child(7), td:nth-child(7) {
          width: 50px;
        }
        th:nth-child(8), td:nth-child(8) {
          width: 26px;
        }
        th:nth-child(9), td:nth-child(9) {
          width: 30px;
        }
        th:nth-child(10), td:nth-child(10) {
          width: 40px;
        }
      }
    }
  }
}

#sidePanel.weapons-panel {

  .panel {

    .content {

      .title {

        .subtitle {

          .icon {
            position: relative;
            padding-right: 15px;

            &:after {
              content: '';
              display: inline-block;
              position: absolute;
              width: 20px;
              height: 20px;
              bottom: -8px;
              right: -4px;
              background-size: cover;
            }

            &.oneh:after {
              background-image: url("../img/icons/icon-hands1.png");
              right: -3px;
            }
            &.twoh:after {
              background-image: url("../img/icons/icon-hands2.png");
            }
          }
        }
      }

      .stats-top {
        margin-top: 20px;

        .basic {
          display: flex;
          flex-wrap: wrap;

          &>div {
            width: 50%;
          }

          span {
            display: inline-block;
            min-width: 75px;
          }

          b {
            display: inline-block;
            min-width: 50px;
          }
        }

        .on-hit {
          margin-top: 10px;

          table {

            td:first-child {
              width: 60px;
              vertical-align: top;
            }
            td:last-child {
              width: auto;
            }
          }
        }
      }

      .stats-bottom {

        &>div {
          display: flex;
          flex-wrap: wrap;

          &>div {
            width: 50%;
          }
        }

        span {
          display: inline-block;
          min-width: 50px;
        }

        b {
          display: inline-block;
          min-width: 40px;
        }

        .obsatk {
          font-size: 0.75rem;

          span {
            margin-right: 10px;
          }
        }
      }

      .stats-extra {
        font-size: 0.875rem;
        margin-top: 15px;

        span {
          display: inline-block;
          min-width: 120px;
        }

        .itemset {

          b{
            color: @color-green;
          }
        }

        .restriction {
          margin-top: 10px;
        }
      }
    }
  }
}
